<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>





    <div id="app">
        <input type="text" @input="changeTitle">
        <p>{{title}}</p>

        <input type="text" v-model="two_way_binding_name">
        <p>{{two_way_binding_name}}</p>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                title: 'Hello World!',
                two_way_binding_name: "test"

            },
            methods: {
                changeTitle: function (event) {
                    this.title = event.target.value;
                },

            },
        })

    </script>



    <div id="app2">
        <button @click="increase(2, $event)">click me increase</button>
        <button @click="counter--">click me decrease</button>

        <p>{{counter}}</p>
        <p @mousemove="updateCoordinates"> Coorditantes {{x}} / {{y}}
            <span @mousemove.stop="">Dead spot</span>
        </p>
        <p>computed_results: {{computed_results}}</p>
        <input type="text" @keyup.enter.space="alertMe">
    </div>
    <script>
        new Vue({
            el: '#app2',
            data: {
                counter: 0,
                x: 0,
                y: 0
            },
            watch: {
                counter: function (value) {
                    var vm = this;
                    setTimeout(function () {
                        vm.counter = 0;
                    }, 5000)
                }
            },
            computed: {
                computed_results: function () {
                    return this.counter > 10 ? "Larger that 10" : 'smaller than 10'
                }
            },
            methods: {
                increase: function (step, event) {
                    this.counter += step;
                    console.log(event);
                },
                updateCoordinates: function (event) {
                    this.x = event.clientX;
                    this.y = event.clientY;
                },
                alertMe: function () {
                    alert('alert me')
                }

            }
        })

    </script>

    <div id="dynamic_styling">
        <div class="demo" @click="attachRed =!attachRed" :class="divClasses"></div>
        <div class="demo"></div>
        <div class="demo" :class="[color, {red: attachRed}]"></div>
        <div class="demo" :style="myStyle"></div>
        <div class="demo" :style="[myStyle, {height: width + 'px'}]"></div>
        <hr>
        <input type="text" v-model="color">
        <input type="text" v-model="width">
    </div>

    <script>
        new Vue({
            el: "#dynamic_styling",
            data: {
                attachRed: false,
                color: 'green',
                width: 100
            },
            computed: {
                divClasses: function () {
                    return {
                        red: this.attachRed,
                        blue: !this.attachRed
                    }
                },
                myStyle: function () {
                    return {
                        backgroundColor: this.color,
                        width: this.width + "px"
                    }
                }
            }
        })
    </script>


    <style>
        #dynamic_styling .demo {
            width: 100px;
            height: 100px;
            background: #666;
            display: inline-block;
            margin: 10px;
        }

        #dynamic_styling .red {
            background: red;

        }

        #dynamic_styling .green {
            background: green;

        }

        #dynamic_styling .blue {
            background: blue;

        }
    </style>
</body>



</html>